body {
            height: 75%;
            margin: 50px;
            background-image: url("../image/milk.jpeg");
            color: #4f8c7c;
        }


        #le {
            float: left;
            padding-right: 200px;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        #ingred {
             background: #FFFFFF;
             float: left;
             padding-bottom: 2px;
             padding-top: 2px;
             padding-right: 15px;
             padding-left: 10px;
        }

        #mi {
            float: inherit;
            background: #FFFFFF;
        }

        #di {
            float: right;
            padding-left: 15px;
            padding-right: 15px;
        }

        #wrapper {
            height: 100%;
            width: 100%;
        }
